{{!-- <div class="container-fluid" style="max-width: 1400px">
        <div class="row"> --}}
<div class="container-fluid ">
    <div class="row">
        <div class="col-3">
            <h1>Search for a Zip Code:</h1>
            <form id="search-form">
                <input id="search-input" class="form-input w-100 fs-3" type="text" placeholder="92058!">
                <button type="submit" class="col-12 bg-info fs-4 my-4 p-2 border-dark" id="submitBtn">Submit</button>
            </form>
            <div class="col-12 justify-content-center border-top border-2" id="cityList">
            </div>
        </div>

    </div>
</div>
<div>
    <h3>
        Weather Info 
    </h3>
    <p>
       Location: {{weather.name}}
    </p>
    <p>
        Temp: {{weather.main.temp}}° 
    </p>
    <p>
        Humidity: {{weather.main.humidity}}
    </p>
    <p>
         Wind: {{weather.wind.speed}} mph
    </p>
</div>
{{#if isLoggedIn}}
<p style="text-align: center;">Leave a comment</p>
<label for="exampleFormControlTextarea1"></label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="It's a perfect day to go surfing!"></textarea>
 <button style="display: block; margin: 0 auto" id="comment-button" type="submit">Add Comment</button>
 {{else}}
   <a href="/login" style="display: block; margin: 0 auto" id="logIn-button" type="submit">Log-In to add Comment</button>
 {{/if}}   
<div>
    {{#each comments}}
    {{> commentcard}}
    {{/each}}
</div>
 <script src="/js/search.js"></script>